* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:focus {
  outline: none;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: grid;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1366px;
  grid-template-columns: 90px 1fr;
  gap: 53px;
}

.header__logo {
  max-height: 90px;
}

.logo {
  margin: 20px 0;
}

.header__input {
  margin: 23px 0;
  padding: 12px 0 13px 16px;
  width: 581px;
  height: 44px;
  border: 1px solid #33333333
}

.header__input::placeholder {
  font-size: 14px;
}

.hero {
  padding: 130px 0 80px;
  background: #E5E5E5;
  min-height: 100vh;
}

.hero__container {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-bottom: 26px;
}

.table {
  margin-bottom: 40px;
}

.table__titles-row {
  margin-bottom: 8px;
}

.table__title:first-child {
  padding-left: 20px;
}

.table__grid {
  display:  grid;
  grid-template-columns: 146px 274px 165px 165px 160px  1fr 1fr;
  align-items: center;
}

.table__title {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #B0B0B0;
}

.table__title:not(:nth-last-child(-n+2)) {
  cursor: pointer;
}

.table__title--active {
  color: #9873FF;
}

.table__title--active .table__sort-icon {
  opacity: 1;
}

.table__sort-icon {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  opacity: .7;
}

.table__sort-icon--active {
  transform: rotate(180deg);
}

.table__data {
  position: relative;
  min-height: 300px;
  background: #fff;
}

.add-client-btn {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 32px 1fr;
  align-items: center;
  padding: 12px 26px 12px 26px;
  color: #9873FF;
  font-weight: 600;
  background: transparent;
  border: 1px solid #9873FF;
  cursor: pointer;
}

.table-row {
  height: 60px;
  border-bottom: 1px solid #c8c5d18a;
}

.table__client-cell {
  display: flex;
  padding-right: 14px;
  font-size: 14px;
  color: #333333;
}

.contacts-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-columns: 1fr;
  gap: 5px;
}

.table__tooltip{
  height: 20px;
  width: 20px;
  border: none;
  background: transparent;
}

.table__rest-contacts {
  height: 20px;
  width: 20px;
  font-size: 11px;
  color: #333333;
  font-weight: 600;
  border: 1px solid #9873FF;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
}

.tippy-box[data-theme~='crm'] {
  font-size: 12px;
}

.table__contact-link {
  color: #9873FF;
  font-size: 14px;
  font-weight: 700;
}

.table__tel-link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.table__contact-icon {
  height: 100%;
  width: 100%;
  fill: #9873FF;
  opacity: .7;
}

.table__action-icon {
  margin-right: 3px;
  height: 16px;
  width: 16px;
  opacity: .7;
}

.icon-remove {
  fill: #F06A4D;
}

.table__id {
  padding-left: 20px;
  font-size: 12px;
  color: #B0B0B0;
}

.table__time {
  margin-left: 7px;
  color: #B0B0B0;
}

.table__btn {
  display: flex;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

.remove-btn {
  padding-right: 20px;
}


/* CHOICES */

.choices {
  width: 123px;
  margin-bottom: 0;
}

.is-open .choices__inner {
  border-radius: 0;
  border: 1px solid #C8C5D1;
}

.choices__list--dropdown {
  border-radius: 0;
}

.choices__item {
  font-size: 12px;
  color: #333333;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 7.5px;
  font-size: 12px;
  color: #333333;
}

/* loader */
.loader {
  font-size: 8px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #9873ff;
  background: -moz-linear-gradient(left, #9873ff 10%, rgba(152,115,255, 0) 42%);
  background: -webkit-linear-gradient(left, #9873ff 10%, rgba(152,115,255, 0) 42%);
  background: -o-linear-gradient(left, #9873ff 10%, rgba(152,115,255, 0) 42%);
  background: -ms-linear-gradient(left, #9873ff 10%, rgba(152,115,255, 0) 42%);
  background: linear-gradient(to right, #9873ff 10%, rgba(152,115,255, 0) 42%);
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 72px);
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #9873ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
